name: Badges

on:
  schedule:                                      # run workflow based on schedule
    - cron: '6 5 1-25 12 *'                      # from the 1. December till 25. December every day at 5:06am (avoid load at full hours)
    
  workflow_dispatch:                             # allow to manually start the workflow 

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v2
      - uses: joblo2213/aoc-badges-action@master
        with:
          year: 2024
          userid: 4364467
          session: ${{ secrets.AOC_SESSION }}
          starsRegex: '(?<=https:\/\/img.shields.io\/badge\/2024-â­%20)[0-9]+(?=-gray)'
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Update badges
          file_pattern: README.md
